<div style="margin-top: 40px;">
    <div class="song-cover">
        <img class="song-img" id="songCover" onload="updateSongImg({{output}})" src="/assets/images/placeholder.png">
    </div>
    <div style="display: flex; margin: 20px 0px;">
        <div style="    margin-left: auto;">
            {{# if song.fav}}
            <img src="/assets/icons/favourite_filled.svg" id="favIcon" style="margin-right: 20px;" onclick="addToFav()">
            {{else}}
            <img src="/assets/icons/favourite.svg" id="favIcon" style="margin-right: 20px;" onclick="addToFav()">
            {{/if}}
        </div>

        <div style="    margin-right: auto;">
            <img src="/assets/icons/plus_red_big.svg" onclick="addToPlayList({{song.id}})">
        </div>
    </div>

    <div style='text-align: center;
    margin: 20px 0px 10px 0px;    font-size: large;
    font-weight: bold;' id="albumName"></div>
    <div style='text-align: center;
    margin: 0px 0px 24px 0px;' id="artis"></div>

    <div style="display: flex; margin-bottom: 10px">
        <img src="/assets/icons/repeat_off.svg" style="width: 30px; margin-left: auto; margin-right: 14px;"
            onclick="repeatClicked()" id="repeatBtn">
        <img src="/assets/icons/skip_back.svg" style="width: 30px;  margin-right: 14px;" onclick="prevSong()">
        <img id="toggleBtn" src="/assets/icons/play_filled.svg" style="width: 40px;  margin-right: 14px;"
            onclick="playSong()">
        <img src="/assets/icons/skip_forward.svg" style="width: 30px;  margin-right: 14px;" onclick="nextSong()">
        <img src="/assets/icons/shuffle_off.svg" style="width: 30px; margin-right: auto" id="shuffleBtn">
    </div>
    <audio id="audio-player" ontimeupdate="updateBar()">
        <source src="/assets/audio/song.mp3" type="audio/mpeg">
    </audio>

    <div style="display: flex;">
        <div id="currentTime" style="margin-right: auto; font-size: 14px;">00:00</div>
        <div id="durationTime" style="font-size: 14px;">00:00</div>
    </div>



    <div id="progress-status">
        <div id="myprogressBar"></div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <p style="margin: 5px;" id="popUpMessage"></p>
        </div>

    </div>

    <div id="playListModal" class="playlist-modal">

        <!-- Modal content -->
        <div class="playlist-modal-content">
            <div style="display: flex; margin-bottom:15px;">
                <div class="playlist-header">Select Playlist</div>
                <div onclick="closePlaylistModal()"><img src="/assets/icons/close.svg" style="width: 18px;"></div>
            </div>
            {{# each playlist as |item key|}}
            <div style="display: flex; margin-bottom: 10px;" onclick="playListAdd({{item.id}})">
                <div class="image-container">
                    <img src={{item.thumbnail}} class="playlist-img">
                </div>
                <div style="display: flex; flex-direction: column">
                    <div class="playlist-title">{{item.title}}</div>
                    <div style="margin-bottom: 5px;">{{item.tracks}} Tracks</div>
                    <div>{{item.duration}}</div>
                </div>
            </div>
            {{/each}}

        </div>

    </div>